#filter .container {
    padding: 24px;
    background-color: var(--neutral-dark-grey-200);
    border: 1px #00732B solid;
    border-radius: 24px;
    margin-top: 156px;
}

.tabBar-active {
    background-color: var(--primary-green) !important;
    color: var(--neutral-white);
    border: none;
    border-radius: 4px;
    padding: 11px 16px;
}

.tabBar-item {
    font-size: 16px;
    padding: 11px 16px;
    cursor: pointer;
    background-color: var(--neutral-dark-grey-300);
    color: var(--neutral-white);
    border-radius: 4px;
    border: none;
}

.filter-item {
    gap: 16px;
    margin-top: 24px;
}

#search {
    padding: 0px 16px;
    border-radius: 12px;
    height: 56px;
    width: 46%;
    background-color: var(--neutral-dark-grey-300);
    color: var(--neutral-white);

}

#search:focus {
    outline: 1px #00732B solid;
}

#search::placeholder {
    background: url("../img/icons/search.svg") no-repeat right;

}



.version {
    background-color: var(--neutral-dark-grey-300);
    border-radius: 12px;
    padding: 8px 6px;
    gap: 8px;
    width: fit-content;
    height: 56px;

}

.version-item, .btn-switch {
    width: auto;
    height: 40px;
    border: none;
    background-color: var(--neutral-dark-grey-300);
    color: var(--neutral-white);
    padding: 0px 11px 0px 11px;
    gap: 8px;
}

.version-item-active, .btn-switch-active {
    background-color: var(--primary-green);
    color: var(--neutral-white);
    opacity: 1;
    border: none;
    border-radius: 4px;
    gap: 8px;

}

.filter_list {
    margin-top: 24px;
    gap: 20px;
}

.list-item {
    gap: 16px;
}

.list-item h4 {
    font-size: 18px;
    color: var(--neutral-white);
    font-weight: 400;
    margin-bottom: 0px;
}

.switch {
    padding: 8px 6px;
    gap: 8px;
    width: fit-content;
    background-color: var(--neutral-dark-grey-300);
    border-radius: 12px;
}

.list_tags, .list_mods, .plugin_tags {
    gap: 16px;
}

.list_tag, .list_mod, .list-plugin {
    padding: 0px 16px 0px 16px;
    background-color: var(--neutral-dark-grey-300);
    color: var(--neutral-white);
    height: 44px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.list_tag-active, .list_mod-active, .list_plugin-active {
    background-color: var(--primary-green);
    color: var(--neutral-white);
    padding: 0px 16px;
    height: 44px;
    border-radius: 4px;
    display: flex;
    align-items: center;

}

.list_tag, .list_mod, .list-plugin, h6 {
    color: var(--neutral-white);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px !important;
}

.list_tag-active, .list_mod-active, .list_plugin-active h6 {
    color: var(--neutral-white);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px !important;
}

#filterMore {
    display: none;
}


